@use '../common/mixins.scss' as *;

.content {
  @include grid-layout;
  grid-template-rows: 0.2fr 0.5fr 60px;
  align-items: center;
  padding-top: 3rem;

  h2 {
    grid-column: 3/6;
    font-size: xx-large;
  }
}

.toogle {
  grid-column: 8/9;
  @include flex-center;
  padding-bottom: 1rem;
}

.textCol {
  grid-column: 3/6;
}

.imgCol {
  grid-column: 7/9;
}

.submitRow {
  grid-column: 6/7;
  padding-top: 4rem;
}
