@use '../common/mixins.scss' as *;

.header {
  @include grid-layout;
  grid-template-rows: repeat(2, 1fr);
  align-items: center;

  padding-top: 1rem;
  background-color: inherit;
}

.title {
  grid-column: 2/6;
  font-size: xx-large;

  display: flex;
  align-items: center;

  h1 {
    text-decoration: underline;
  }

  span {
    padding-right: 2rem;
  }
}

.menu {
  grid-column: 11/12;
  font-weight: bold;
  font-size: xx-large;
}

.description {
  grid-column: 3/6;
  margin-left: -6%;
  max-width: 30rem;
}
