@use "../common/colors.scss" as *;
@use "../common/mixins.scss" as *;

.toogle {
  @include flex-center;
  height: 3rem;
}

.option {
  @include flex-center;
  height: 100%;
  min-width: 6rem;
  font-size: x-large;
  background-color: $medium-color;
} 

.selected {
  @extend .option;
  background-color: $bright-color;
  font-weight: bold;
}
